@media only screen and (max-width:900px) {
    .intro-image{
        display: none;
    }
    .education img{
        display: none;
    }
}
@media only screen and (max-width:552px) {
    .toggle{
        flex-direction: column;
        row-gap: 1rem;
        height: 2.8rem;
        overflow: hidden;
        transition: all 0.3s;
    }
    .toggle-show{
        height: 20rem;
        
    }
    .toggle ul{
        flex-direction: column;
        row-gap: 1rem;
        align-items: center;
    }
    .toggle .toggle-button{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        align-self: flex-start;
        padding: 0.5rem;
        transition: all 0.1s;
    }
    .toggle .toggle-button:hover{
        background-color: #495057;
    }
    .toggle-button li{
        display: inline-block;
        background-color: #ADB5BD;
        height: 0.3rem;
        width: 2rem;
    }
}

@media only screen and (max-width:646px) {
    .box-containers{
        justify-content: center;
    }
    .box-container{
        width: unset;
        flex-direction: row;
    }
    .box-container img{
        object-fit:cover;
        height: 100%;
    }
    .box-container:nth-child(even){
      flex-direction: row-reverse;
  }
}

@media only screen and (max-width:554px) {
    .box-containers{
        justify-content: space-evenly;
    }
    .box-container{
        width: 250px;
        flex-direction: column;
    }
    .box-container:nth-child(even){
        flex-direction: column;
    }
    .box-container img{
        object-fit:unset;
        height: 135px;
    }
}